* {
    box-sizing: border-box;
  }

body, html {
   
    background-color: black;
    color: white;
}

#top-row {
    background-image: url("image/rain.jpg");
    height: 50%;
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#location, #info {
    color: #DA70D6;
}


#submitCity {
    color: #B5509C;
}

#table {
    padding: 20px;
    margin-top: 30px;
    margin-bottom: 10px;
    
}

#rowDiv {
    padding: 10px;
}

#place {
    width: 100%;
    background-color: #DA70D6;
    color: white;
}
#place:hover {background-color: gray}

#forecastbox {
    display: flex;
    padding: 30px;
    background-color: black;
   
}

#days {
    padding: 20px;
}

#leftRow, #rightRow {
   padding: 20px;

}

#rightRow {
    border: #B5509C 5px solid;
    border-radius: 25px;
}


