* {
    box-sizing: border-box;
  }

body, html {
   
    background-color: black;
    color: white;
}

#top-row {
    background-image: url("image/cityB.jpg");
    height: 100%;
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#location {
    color: #DA70D6;
}

#small {
    font-size: small;
    color: #B5509C;
}
#submitCity {
    color: #B5509C;
}

#table {
    padding: 20px;
    margin-top: 30px;
    margin-bottom: 10px;
    background-color: #323232;
}

p {
    padding: 20px;
}

#rowDiv {
    padding: 10px;
}